@import "tailwindcss";
@variant dark (.dark &);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

body {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
}

.bg-sunset {
  @apply bg-blue-900;
}

* {
  @apply transition-colors duration-200;
}
